@import './App.scss';
@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$primary:rgb(49, 41, 41);
$secondary:rgb(46, 15, 15);
.preview-page{
    color:$primary;
    position:absolute;
    top:0;
    background-color: $accent;
    width:100%;
    height:100%;
    
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#edit-button{
    background:none;
    border:none;
    transition: font-size, .3s ease-in-out;
    
    
}
#edit-button:hover{
    font-size:1.5rem;
    color:$primary;
    transition: font-size, .3s ease-in-out;
}
.preview-panel{
    font-family:'Pathway Extreme',sans-serif;
    display:flex;
    flex-direction: column;
    gap:3rem;
    padding:3rem;
    width:clamp(500px,70%,600px);
    background-color: white;
}

header{
    h2{
    font-family:'Pathway Extreme',sans-serif;

        font-size:2.5rem;
        border-bottom:3px solid $primary;
        margin-bottom:.2rem;
        font-weight:300;
    }
    .contact-info{
        display:flex;


        aside{
            font-size:.8rem;
            color:$secondary;
            border-left:2px solid $primary;
            padding-left:1rem;
            padding-right:1rem;
        }
        padding-right:1rem;
        text-align: end;
        color:$secondary;
        font-style:italic;

    }
}


main{

    display:grid;
    grid-template-columns:1fr  3fr;
    grid-template-rows:auto auto;
    grid-row-gap:1rem;
    height:100%;
    #exp-label{
    font-family:'Pathway Extreme',sans-serif;

        grid-row:1;
        grid-column:1;
    }
    #edu-label{
    font-family:'Pathway Extreme',sans-serif;

        grid-row:2;
        grid-column:1;
    }
    #work-experience{
    font-family:'Pathway Extreme',sans-serif;

        grid-row:1/1;
        grid-column:2;
    }
    #education-history{
    font-family:'Pathway Extreme',sans-serif;

        grid-row:2;
        grid-column:2;

    }
    
    

    .cv-section-label{
    font-family:'Pathway Extreme',sans-serif;

        font-size:1rem;
        font-weight:700;
        height:100%;
        width:100%;  
    }
    section{
    font-family:'Pathway Extreme',sans-serif;
       

        padding:1rem;
       
    }

    #work-experience{
        display:grid;
        gap:1rem;
    }
    .work-module{
        height:min-content;
        text-align: start;
        // padding-top:4rem;
        // padding-bottom:4rem;
       display:grid;
       align-items: center;
       grid-template-columns: 2fr 3fr;
    //    gap:1rem;
   
        .work-dates{
            grid-column:1;
            font-size:.6rem;
            text-align: start;
            font-weight:900;
        }
        .work-position{
            grid-column:2;
            font-size:1rem;
            font-weight:600;
            justify-content: end;
        }
        .work-name{
            grid-column:2;
            font-size:.8rem;
        }
        .work-description{
            grid-column:2;
            font-size:.8rem;
        }
    }
    .edu-module{
        text-align: center;
        padding:1rem;
       display:grid;
       gap:.5rem;
        
        .edu-dates{
            font-size:.8rem;
            font-weight:800;
        }
        .edu-study{
            font-size:1rem;
            font-weight:600;
        }
        .edu-name{
            font-size:.8rem;
        }
        .edu-description{
            font-size:.8rem;
        }
    }
   
}
